.header {
	display: flex;
	align-items: flex-end !important;

	gap: var(--p-2);

	margin: var(--p-1) 0 var(--p-2) 0;

	& p {
		font-size: 0.75em;
		font-weight: 500;
	}

	& span {
		font-size: 0.75em;
		font-style: italic;
	}
}
