.details {
	background-color: var(--primary-gray);
	border-radius: var(--border-2);
	padding: var(--p-2);
	padding-bottom: 0px;

	& summary {
		line-height: 34px;
		padding-bottom: var(--p-2);
		overflow: hidden;
	}

	& span {
		overflow: hidden;
		word-break: break-all;

		& svg {
			min-width: 24px;
		}
	}
}

.btns {
	float: right;
	margin-left: var(--m-5);
}

.question {
	display: flex;
	justify-content: space-between;
}

.answer {
	padding: var(--p-2);
	margin-bottom: var(--m-5);

	border-radius: var(--border-2);

	border: 1px solid var(--secondary-gray);

	& svg {
		margin: 0px 4px;
		min-width: 18px;
	}
}

.isValid {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--primary-blue);
	border-color: var(--primary-blue);
}

.points {
	font-style: italic;
	font-size: 0.75em;
}
