.details {
	background-color: var(--primary-gray);
	border-radius: var(--border-2);
	padding: var(--p-2);
	padding-bottom: 0px;

	& summary {
		line-height: 34px;
		padding-bottom: var(--p-2);
		overflow: hidden;

		& p {
			overflow: hidden;
			text-overflow: ellipsis;
		}

		& span {
			/* float: left; */
			overflow: hidden;
			word-break: break-all;
		}
	}

	& button {
		float: right;
		margin-left: var(--m-1);
		background-color: var(--primary-blue);
	}
}

.question {
	display: flex;
	justify-content: space-between;
}

.answer {
	padding: var(--p-2);
	margin-bottom: var(--m-1);

	border-radius: var(--border-2);

	border: 1px solid var(--secondary-gray);

	& svg {
		margin-right: 4px;
	}
}

.isValid {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--primary-blue);
}

.points {
	font-style: italic;
	font-size: 0.75em;
}
