.container {
	min-width: 100%;

	& header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: var(--m-2) 0;
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: var(--gap-1);
}
