:root {
	--primary-blue: #9ba8f2;
	--secondary-blue: #8091f2;
	--tertiary-blue: #5e75f2;
	--quaternary-blue: #2540d9;

	--primary-gray: #e9ebf2;
	--secondary-gray: #6a7386;
	--tertiary-gray: #41444a;

	--primary-white: #f4f4f4;

	--primary-red: #ff3333;

	--border-1: 2px;
	--border-2: 4px;
	--border-3: 8px;

	--p-1: 0.25rem;
	--p-2: 0.5rem;
	--p-3: 0.75rem;
	--p-4: 1rem;
	--p-5: 1.25rem;
	--p-6: 1.5rem;

	--m-1: 0.5rem;
	--m-2: 1rem;
	--m-3: 2rem;

	--gap-1: 1rem;
	--gap-2: 1.5rem;
	--gap-3: 2rem;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	min-height: 100vh;
	background-color: var(--primary-white);
	color: var(--secondary-gray);

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	min-width: 100%;
	min-height: 100vh;
}

h1,
h2,
h3,
h4 {
	color: var(--tertiary-gray) !important;
}

input,
textarea {
	color: var(--secondary-gray);
	background-color: var(--primary-gray);

	border: 1px solid transparent;
	border-radius: var(--border-2);

	padding: var(--p-3) !important;
}

input:focus,
textarea:focus {
	outline: 2px solid var(--secondary-blue);
}
input[type="range"] {
	outline: none;
}

input[aria-invalid="true"],
textarea[aria-invalid="true"] {
	border-color: var(--primary-red);
	color: var(--primary-red);
}

input[aria-invalid="true"]:focus,
textarea[aria-invalid="true"]:focus {
	outline: 1px solid var(--primary-red) !important;
}
input[type="range"] {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}

button,
.btn {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: var(--p-2) var(--p-4);
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	color: white;
	background-color: var(--tertiary-blue);
	cursor: pointer;
	transition: border-color 0.25s;
}
button:disabled,
.btn:disabled {
	cursor: default;
	color: var(--primary-gray);
	background-color: var(--secondary-gray);
}

button:focus-visible,
.btn:disabled {
	outline: 4px auto -webkit-focus-ring-color;
}

textarea {
	resize: none;
}
