.iconBtn {
	display: flex;
	align-items: center;
	gap: 4px;

	padding: var(--p-1) var(--p-2);
	border-radius: var(--border-2);
	background-color: var(--tertiary-blue);
	font-size: 1em;

	cursor: pointer;

	& span {
		line-height: 4px;
		margin-bottom: 1px;
		margin-right: 2px;
	}
}

.container {
	padding: var(--p-4);

	background-color: var(--primary-white);
	color: var(--tertiary-gray);

	border-radius: var(--border-2);
}
