.container {
	display: flex;
	flex-direction: column;

	& header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: var(--p-1);
	}

	& section {
		display: flex;
		flex-direction: column;
		gap: 6px;

		padding: 8px 0 34px 0;
		padding-right: var(--m-1);
		border-top: 1px solid var(--secondary-gray);
		max-height: 576px;

		overflow: auto;
	}
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: var(--m-3);

	& p {
		font-size: 1.25em;
		margin-bottom: var(--m-1);
	}
}
