.answer {
	justify-content: space-between;
}

.green {
	--green: #d4edda;
	--green-1: #43a058;
	border: none;

	background-color: var(--green);

	& svg {
		color: var(--green-1);
	}
}

.red {
	--red: #f8d7da;
	--red-1: #b32f3c;

	border: none;
	background: var(--red);

	& svg {
		color: var(--red-1);
	}
}
