.answer {
	justify-content: space-between;
}

.green {
	border: none;
	background-color: #d4edda;

	& svg {
		color: #43a058;
	}
}

.red {
	border: none;
	background: #f8d7da;

	& svg {
		color: #b32f3c;
	}
}
