.iconBtn {
	display: flex;
	align-items: center;
	gap: 4px;

	border-radius: var(--border-2);

	font-size: 1em;

	&:disabled {
		color: var(--primary-white);
		filter: brightness(0.85);
		opacity: 0.7;
	}
}

.primary {
	padding: var(--p-1) var(--p-2);
	background-color: var(--tertiary-blue);
}

.info {
	background-color: var(--primary-blue);
	color: black;
}

.submit {
	padding: var(--p-2) var(--p-4);
	background-color: var(--tertiary-blue);
}
