.desktop-container {
	width: max(var(--screen-sm), 40%);

	margin: var(--p-6) auto;
	gap: var(--p-6);
}

.container {
	display: flex;
	margin: 0 var(--m-15);
}

.card {
	padding: var(--p-2) var(--p-3);

	background-color: white;
	border-radius: var(--border-3);
	box-shadow: 0px 0px 5px -2px var(--tertiary-gray);
}

.answer-card {
	--space: var(--p-3);

	display: flex;
	align-items: center;
	gap: var(--space);

	border-radius: 4px;
	border: 1px solid var(--secondary-gray);
	margin-top: var(--m-1);
	padding: var(--p-2) var(--space);
}

.error {
	color: var(--primary-red);
}

.error-message {
	min-height: 1.675rem;
	margin-bottom: var(--m-1);
	font-size: 0.8em;
}

.pointer {
	cursor: pointer;
}

.m-auto {
	margin: auto;
}
.m-l-auto {
	margin-left: auto;
}

.flex {
	display: flex;
}
.justify-between {
	justify-content: space-between;
}

.col {
	flex-direction: column;
}
.gap-1 {
	gap: var(--gap-1);
}
