.form {
	display: grid;
	grid-template-columns: repeat(2, minmax(200px, 0.4fr)) 1fr 1fr;
	gap: 0 var(--gap-1);

	width: var(--screen-lg);
	margin: 60px auto;
}

.difficulty {
	margin-left: var(--m-1);
	font-style: italic;
	font-size: 0.75em;
}
