.container {
	--padding: var(--p-2) var(--p-6);
	--border: 2px solid var(--primary-gray);

	margin-bottom: var(--p-4);

	& h1 {
		font-size: 1.25em;
		font-weight: 400;
	}
	& label {
		cursor: pointer;
	}
	& label:has(input:checked) {
		border-color: var(--primary-blue);
	}

	& input {
		flex: 0 0 5%;
	}

	& span {
		margin-left: auto;
	}
}
