.container {
	display: flex;
	margin: 0 var(--m-3);
}

.card {
	padding: var(--p-3) var(--p-4);
	background-color: white;
	border-radius: var(--border-3);

	box-shadow: 0px 0px 5px -2px var(--tertiary-gray);
}

.pointer {
	cursor: pointer;
}

.tag {
	padding: var(--p-2);
	border-radius: var(--border-2);
}

.block {
	display: block;
}

.m-auto {
	margin: auto;
}
